services:

  auth_service:
    build: ./auth_service
    container_name: todo-auth
    ports:
      - "3001:3001"
    environment:
      - BETTER_AUTH_SECRET=Hnf9gPXIrABKBkMvDbkLS0wbDUu5665y90swejqqxQA=
    depends_on:
      - postgres

  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
      args:
        # Frontend runs in the browser, so it needs to access backend/auth via localhost
        VITE_API_BASE_URL: http://localhost:8000
        VITE_AUTH_BASE_URL: http://localhost:3001
    container_name: todo-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
      - auth_service

  postgres:
    image: postgres:15
    container_name: todo-postgres
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
